@import url("https://fonts.googleapis.com/css2?family=Bigelow+Rules&family=Cascadia+Code:ital,wght@0,200..700;1,200..700&family=Comfortaa:wght@300..700&family=Fira+Code:wght@300..700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Kaushan+Script&family=Lora:ital,wght@0,400..700;1,400..700&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@layer base {
  :root {
    --font-display: "Urbanist", sans-serif;
    --breakpoint-3xl: 1920px;
    --color-primary: #ff9324;
  }
  html {
    font-family: var(--font-display);
  }

  body {
    background-color: #fcfbfc;
  }
}
